* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  font-size: 0.875em;
}

.header {
  background-image: url("./image\ 36.png");
  background-size: cover;
  height: 200px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}

.header-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.header-text {
  font-size: 2.625em;
  font-weight: bold;
}

.search-container {
  text-align: center;
  position: relative;
  transform: translate(0, -50%);
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 120px;
  margin: 0 auto;
}

.search-btn {
  width: 120px;
  height: 40px;
  border: 1px #D1D5DB solid;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 500;
  margin-left: -2px;
}

.search-input {
  height: 40px;
  background-color: white;
  border: none;
  border: 1px #D1D5DB solid;
  border-radius: 6px;
  padding-left: 1em;
}

.movie-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 900px;
  margin: 20px auto;
}

.poster-container {
  display: flex;
  align-items: center;
  gap: 2em;
  border-bottom: solid 2px #E5E7EB;
  padding-bottom: 2em;
  width: 100%;
  margin: 0 auto;
}

.movie-poster {
  width: 100px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-title {
  font-size: 1.125em;
  font-weight: 500;
  color: black;
}

.movie-plot {
  color: #6B7280;
  font-size: 0.875em;
  max-width: 400px;
}

.top-row {
  display: flex;
  align-items: center;
  gap: 0.875em;
}

.second-row {
  display: flex;
  align-items: center;
  gap: 0.875em;
  font-size: 0.75rem;
}

.watchlist-btn {
  border: none;
  background-color: inherit;
  font-size: 2em;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.5em;
}
.plus-btn {
  width: 15px;
  height: 15px;
}
